
<!DOCTYPE html>
<html>
  <body>
    <form action='/add_link' method='post'>
      <label for='url'>
        Introduce a new link in your list:
        <input type='text' name='url'>
        <input type='text' name='title'>
        <button type='submit'>Add link</button>
      </label>
    </form>
    <%= flash[:notice] %>
    <ul>
      <% @links.each do |link| %>
        <li id="link-<%= link.id %>">
          <a href="<%= link.url%>" target="_blank">
            <%= link.title %>
          </a>

        </li>
      <% end %>
    </ul>
    <form action="/delete_link" method="post" >

        Delete Title

      <input type='text' name='title_delete'>
      <input type='submit' value='Delete'/>
    </form>
  </body>
</html>
