
<!DOCTYPE html>
<html>
  <body>
    <form action='/add_link' method='post'>
      <label for='url'>
        Introduce a new link in your list:
        <input type='text' name='url'>
        <button type='submit'>Add link</button>
      </label>
    </form>
    <%= flash[:notice] %>
    <ul>
      <% @links.each do |link| %>
        <li><%= link %></li>
      <% end %>
    </ul>
  </body>
</html>
